services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: unless-stopped
    privileged: true
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      # Persist Jenkins data
      - jenkins_home:/var/jenkins_home
      # Allow Jenkins to use the host's Docker engine (Crucial for building images!)
      - /var/run/docker.sock:/var/run/docker.sock
      # Map docker binary
      - /usr/bin/docker:/usr/bin/docker

volumes:
  jenkins_home:
